.numbertexts {
  color: $lightblack;

  @media #{$max-sm} {
    padding: 1em 1em 0.2em 1em;
  }

  h2{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 36px;
    margin-top: 80px;

    @media #{$max-sm} {
      display: block;
      font-size: 24px;
      line-height: 1.4em;
      padding-left: 1em;
      padding-right: 1em;
      margin-top: 20px;
    }
  }

  .wrappernumber {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 70px;

    @media #{$max-sm} {
      display: block;
      padding: 0;
    }

    .numbertext {
      width: 350px;
      justify-content: center;
      align-content: space-between;

      @media #{$max-sm} {
        width: 100%;
        padding-top: 12px;
      }

      h3 {
        font-size: 66px;
        word-spacing: 0.16em;
        text-align: center;
        margin: 0;
        font-weight: 500;
        padding: 66px 0 28px 0;

        @media #{$max-sm} {
          font-size: 42px;
          padding: 20px 0 14px 0;
        }
      }

      div {
        font-size: 18px;
        text-align: center;
        margin: 0;
        font-weight: 300;

        span.bold {
          font-weight: 500;
          margin: 0;
        }
      }

      &:nth-child(4n) {
        width: 600px;

          @media #{$max-sm} {
            width: 100% !important;
          }
        }

    }
  }

  hr {
    @include hrentreprises;
  }
}