.actuaccroche {

  article.titre h1 {
    font-size: 5em;
    font-weight: 400;
    padding: 0.7em 0;

    @media #{$max-sm} {
      font-size: 3em;
    }
  }

  article.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    div {

      @media #{$max-sm} {
        grid-column: span 12;
        display: none;
      }

      &.speaker {
        text-align: right;
        align-self: center;

        img {
          width: 12em;
        }
      }
    }

    h2 {
      text-align: left;
      font-size: 1.6em;
      font-weight: 400;
      line-height: 1.4em;

      @media #{$max-sm} {
        font-size: 1.4em;
      }
    }
  }
}

.blocactu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 6em;
  margin-bottom: 3em;
  border: 1px solid $caramel;

  .illustration {
    grid-column: span 1;
    background-color: lighten($caramel, 6%);
    background-size: cover;
    background-repeat: no-repeat;

    &.mobileon {
      display: none;
    }

    &.mobileoff {
      display: block;
    }

    @media #{$max-sm} {
      grid-column: span 12;

      &.mobileon {
        display: block;
      }

      &.mobileoff {
        display: none;
      }
    }

    .tag {
      display: inline-block;
      background-color: lighten($caramel, 20%);
      font-size: 2em;
      padding: 1em 1em;
    }
  }

  .actualite {
    grid-column: span 1;
    padding: 1em 2em;
    max-width: 42em;

    @media #{$max-sm} {
      padding: 0em 1.4em;
      width: 100%;
    }

    &.left {
      justify-self: right;

      @media #{$max-sm} {
        justify-self: left;
      }
    }

    @media #{$max-sm} {
      grid-column: span 12;
    }

    .actu, .actupresse {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-bottom: 0.8em;
      margin-top: 0.6em;

      .picto{
        grid-column: span 2;

        @media #{$max-sm} {
          grid-column: span 4;
          font-size: 1.4em;
        }
      }

      img {
        width: 4em;
      }
    }

    .actupress {
      @media #{$max-sm} {
        grid-column: span 12;
      }
    }

    .libelle {
      grid-column: span 8;

      @media #{$max-sm} {
        grid-column: span 12;
      }

      &.salon {
        p {
          > a {
            text-decoration: underline;
          }
        }
      }

      h3 {
        padding: 0.5em 0;
        margin: 0;

        a {
          text-decoration: none;
          font-size: 1.2em;

          &:link, &:visited {
            border-bottom: 1px solid darken($caramel, 30%);
          }

          &:hover, &:active {
            color: darken($caramel, 20%);
            border-bottom: 1px solid darken($caramel, 50%);
          }
        }
      }

      p {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.4em;

        a {
          text-decoration: none;
          font-size: 0.8em;
          span {
            &.plus {
              background-color: darken($caramel, 10%);
              color: $white;
              padding: 0em 0.3em;
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}

