.table {
  padding: 30px 0;

  @media #{$max-sm} {
    padding: 30px 1em;
  }
  
  h2{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 38px;
  }
  
  table {
    width: 100%;
    margin-top: 30px;

    th {
      font-weight: 500;
      border-right: 1px solid lighten($grey, 60%);
      border-bottom: 1px solid lighten($grey, 60%);
      padding: 12px;
    }

    tr {

      td {
        border-bottom: 1px solid lighten($grey, 60%);
        border-right: 1px solid lighten($grey, 60%);
        padding: 12px;

        &:first-of-type {
          font-weight: 500;
        }
      }
    }
  }
}

article[class^="line"] {
  display: none;
  border-bottom: 2px solid royalblue;

  .tlwrapper {
    display: flex;
    height: 40px;
    align-items: stretch;
    align-content: stretch;
    border-top: 1px solid lighten($grey, 60%);

    div {
      width: 100%;
      height: 40px;
      margin: auto;
      padding: 0.4em;
      border-right: 1px solid lighten($grey, 60%);
      border-bottom: 1px solid lighten($grey, 60%);
    }
  }
}

article.line-1 {
  display: block;
}

.selectwrapper {
  text-align: center;

  select.table-responsive {
    padding: 0.4em 1em;
    margin-bottom: 1em;
    min-width: 140px;
  }
}
