.citation {
  padding-top: 30px;
  padding-bottom: 30px;

  @media #{$max-sm} {
    padding: 1.4em 0;
  }

  @media #{$ipadpro} {
    margin: 0 10px;
    padding: 20px 0;
  }

  .leftquote {
    background: url('../img/leftquote.svg') no-repeat top left;
    @media #{$max-sm} {
      margin-left: 0.6em;
    }

    cite {
      text-align: center;
      text-transform: none;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      display: block;
      background: url('../img/rightquote.svg') no-repeat top right;
      padding: 1em 2em 0 2em;
      line-height: 1.4em;

      &.cit_small {
        font-size: 25px;

        @media #{$max-sm} {
          font-size: 24px;
        }
      }

      @media #{$max-sm} {
        font-size: 28px;
        margin: 0.2em;
        padding: 0.8em 0.8em 0 0.8em;
        background: url('../img/rightquote.svg') no-repeat bottom right;
      }
    }
  }

  p.author {
    text-align: center;
    font-size: 18px;
    padding-top: 1em;
  }
}