.cta {
  margin-bottom: 25px;
  margin-top: 15px;

  .text-center {
    text-align: center;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .btn {
    background-color: $caramel;
    border: 1px solid $caramel;
    color: #fff;
    font-weight: 500;
    letter-spacing: .05em;
    font-size: 1.25rem;
    line-height: 1.45;
    padding: 14px 37px 14px 27px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;

    &:hover {
      background-color: $white;
      color: #darken($caramel, 30%);
      border: 1px solid $caramel;
    }

    #Layer_1 {
      transform: scale(2);
      display: inline-block;
      vertical-align: middle;
      fill: $white;
      margin-right: 10px;
      transition: all .4s cubic-bezier(.29,.245,.145,1.51);
    }
  }
}

section.cta {
  margin-bottom: 25px;
  margin-top: 15px;

  .text-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .btn {
      display: inline-block;
      margin-bottom: 0;
      text-align: left;
      vertical-align: middle;
      touch-action: manipulation;
      white-space: nowrap;
      border-radius: 0px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: $caramel;
      border: 1px solid $caramel;
      color: $white;
      font-weight: 400;
      letter-spacing: .05em;
      font-size: 1.25rem;
      line-height: 1.45;
      padding: 14px 37px 14px 27px;
      position: relative;
      text-transform: uppercase;
      z-index: 2;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &.bg_dark_green {
        background-color: $greengitotel;
        border: 1px solid $greengitotel;

        &:hover {
          background-color: darken($greengitotel, 20%);
          color: $white;
          border: 1px solid $greengitotel;
        }
      }

      &.bg_dark_blue {
        background-color: $bluegitane;
        border: 1px solid $bluegitane;

        &:hover {
          background-color: darken($bluegitane, 20%);
          color: $white;
          border: 1px solid $bluegitane;
        }
      }

      &.bg_dark_orange {
        background-color: $orangenegoce;
        border: 1px solid $orangenegoce;

        &:hover {
          background-color: darken($orangenegoce, 20%);
          color: $white;
          border: 1px solid $orangenegoce;
        }
      }

      &:hover {
        background-color: darken($caramel, 20%);
        color: $white;
        border: 1px solid $caramel;
      }
    }
  }

  div.fleche, div.flechetxt {
    float: left;
  }

  .fleche {
    padding-right: 0.8em;
    padding-top: 1em;
  }
}
