.lameimagetextsimple-repeat {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 6em;
    margin-bottom: 40px;

    @media #{$max-sm} {
      margin-bottom: 25px;
    }

    @media #{$ipadpro} {
      margin: 10px 10px 0 0;
    }

    .quote {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: -1em;

        @media #{$max-sm} {
          top: 1em;
      }
    }

    .illustration {
      grid-column: span 1;
      background-size: cover;
      background-repeat: no-repeat;
      max-width: 515px;
      margin-left: 1em;
      min-height: 341px;

      &.mobileon {
        display: none;
      }

      &.mobileoff {
        display: block;
      }

      @media #{$max-sm} {
        grid-column: span 2;
        height: 200px;
        min-height: 0px;
        margin-right: 1em;

        &.mobileon {
          display: block;
        }

        &.mobileoff {
          display: none;
        }
      }
    }

    .realisation {
      grid-column: span 1;
      padding-left: 14px;
      padding-right: 4em;
      align-self: center;
      justify-self: center;
      position: relative;
      font-weight: 300;

      &.left {
        padding-left: 1em;
        padding-right: 4em;

        @media #{$max-sm} {
          padding-right: 1em;
        }
      }

      @media #{$max-sm} {
        padding: 0 15px 15px 15px;
        grid-column: span 2;
      }
    }

    .img {
      &.right {
        text-align: right;

        img {
          max-width: 512px;
        }
      }

      @media #{$max-sm} {
        grid-column: span 2;
      }
    }
  }
}