.text-center {
  text-align: center;
}

button.button-type {
  appearance: none;
  border: 0;
  @include box-shadow(none);
}

.button-type {
  background: $brown;
  color: $white;
  display: inline-block;
  font-size: 14px;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  @media #{$md} {

    &:before {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: rgba(0,0,0,0.1);
      transition: width .2s ease-in-out;
      z-index: -1;
    }
  }

  @keyframes bounce {
    0% { @include transform(scale(1)); }
    50% { @include transform(scale(0.9)); }
    100% { @include transform(scale(1)); }
  }

  &:hover, &:focus, &:active {
    color: $white;
    text-decoration: none;

    @media #{$lg} {
      animation: bounce 0.4s;
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
  @media #{$md} {
    font-size: 16px;
    padding: 12px 20px;
  }

  &.-marged {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &.-white {
    background: $white;
    color: $brown;
  }

  &.-with-arrow {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    svg {
      margin-right: 5px;
      max-height: 15px;
      width: 15px;
    }
  }

  &.-submit {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 13px 45px;
    text-transform: uppercase;
    line-height: 19px;
  }
}

.link-type {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  @media #{$md} {
    font-size: 16px;
  }

  &.-marged {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &.-with-arrow {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    svg {
      margin-right: 5px;
      max-height: 15px;
      width: 15px;
    }
  }
}
a {
  color: inherit;
}
