/* Responsive */
$tablet-width: 76px;
$desktop-width: 992px;
$large-width: 1200px;

/* Spacer */
$spacer: 15px;

// Breakpoints
$bp-max-xs: 576px;
$bp-xs: 576px;
$bp-max-sm: 769px;
$bp-sm: 769px;
$bp-max-md: 992px;
$bp-md: 993px;
$bp-max-lg: 1199px;
$bp-lg: 1200px;

// Mediaqueries
$max-xs: "screen and (min-width: #{$bp-max-xs})";
$xs: "screen and (min-width: #{$bp-xs})";
$max-sm: "screen and (max-width: #{$bp-max-sm})";
$sm: "screen and (min-width: #{$bp-sm})";
$max-md: "screen and (max-width: #{$bp-max-md})";
$md: "screen and (min-width: #{$bp-md})";
$max-lg: "screen and (max-width: #{$bp-max-lg})";
$lg: "screen and (min-width: #{$bp-lg})";
$ipad: "screen and (min-width: #{$bp-max-sm} ) and (max-width: #{$bp-max-md})";
$ipadpro: "screen and (min-width: #{$bp-max-sm} ) and (max-width: #{$bp-max-lg})";

// Colors
$white: #fff;
$black: #000;
$grey: #404341;
$brown: #008551;
$secondarybrown: #f2f2f2;
$lightbrown: #C1AD76;
$lightblack: #4D4F56;
$timelinebrown: #95865C;

// Font
$fontmain: 'lato', Arial, sans-serif;

// Containers
$max-width: 1286px;
